[Unit]
Description=EasyTG Cross Promo VK Bot
After=network.target mysql.service

[Service]
Type=simple
User=www-data
Group=www-data
WorkingDirectory=/var/www/easytg_cross_promo_bot
Environment="PATH=/usr/bin:/usr/local/bin"
ExecStart=/usr/bin/python3 /var/www/easytg_cross_promo_bot/vk_bot.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
